[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/setcolors.vim"]
	path = .vim/bundle/setcolors.vim
	url = https://github.com/felixhummel/setcolors.vim.git
[submodule ".vim/bundle/vim-luna"]
	path = .vim/bundle/vim-luna
	url = https://github.com/notpratheek/vim-luna.git
[submodule ".vim/bundle/vim-monokai"]
	path = .vim/bundle/vim-monokai
	url = https://github.com/sickill/vim-monokai
[submodule ".vim/bundle/base16-vim"]
	path = .vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
