# Ignore all
*

# Exceptions
!.gitignore
!.gitmodules
!.Xresources

## config folder
!.config
!.config/i3/
!.config/i3/*
!.config/touchegg/
!.config/touchegg/*
!.config/base16-shell
!.config/terminator/config
!.config/terminator/config/*

## .*rc
!.vimrc
!.zshrc

## .vim/bundle
!.vim
!.vim/bundle
!.vim/bundle/*
!.vim/bundle/*/*
!.vim/bundle/*/*/*
!.vim/bundle/*/*/*/*


