# Ignore all
*

# Exceptions
!.gitignore
!.gitmodules

## config folder
!.config
!.config/i3/
!.config/i3/*
!.config/touchegg/
!.config/touchegg/*

## .*rc
!.vimrc
!.zshrc

## .vim/bundle
!.vim
!.vim/bundle
!.vim/bundle/*
!.vim/bundle/*/*
!.vim/bundle/*/*/*
!.vim/bundle/*/*/*/*
